.square-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-style:link {
    text-decoration: none;
    color: black;
}

.link-style:visited {
    text-decoration: none;
    color: black;
}