.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 25vh;
    margin-left: 50px;
    margin-right: 50px; 
    background-color: white;
    -webkit-box-shadow: 0px 2px 31px 0px rgb(192,192,192);
    -moz-box-shadow: 0px 2px 31px 0px rgb(192,192,192);
    box-shadow: 0px 2px 31px 0px rgb(192,192,192);
}

.square-text {
    font-size: 5vh;
}

.square:hover {
    height: 27vh;
    width: 27vh;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.square:hover .square-text{
    font-size: 6vh;
    transition: .4s;
    transition-timing-function: ease-in-out;
}